* {
  margin: 0px;
  padding: 0px;
}
/* for iphone 6/7/8 plus*/
body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}
#btnScrollToTop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: darkorange;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: antiquewhite;
  outline: none;
  cursor: pointer;
  border: none;
}
#btnScrollToTop:active {
  background: orangered;
}
.navbar {
  width: 90.3%;
  padding: 0 20px;
  display: flex;
  background: #000183;
  align-items: center;
  justify-content: space-between;
  background-position: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #000183;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  color: ghostwhite;
}
ul li {
  float: left;
  width: 100px;
  height: 70px;
  line-height: 40px;
  text-align: center;
}
ul li a {
  text-decoration: none;
  color: ghostwhite;
  display: block;
}
.active,
.navbar ul li:hover {
  background-color: #009688;
  border-radius: 3px;
}
.active {
  letter-spacing: 0.3px;
  border-bottom: 1px solid #2ab9d8;
}
.lifestyle {
  border: skyblue 3px solid;
}
.tourist-sites {
  border-bottom: skyblue 3px solid;
}
.para1 {
  padding: 20px 80px;
}
.lifestyle h1 {
  color: #000183;
  text-align: center;
  font-size: 30px;
  line-height: 1.2;
}
.container {
  max-width: 1200px;
  margin: auto;
  overflow: auto;
  display: flex;
}
.gallery {
  margin: 5px;
  border: 1px solid gold;
  float: left;
  width: 400px;
}
.container img {
  width: 350px;
  height: 200px;
}
.desc {
  padding: 15px;
  text-align: center;
}
.fashion {
  border-bottom: skyblue 3px solid;
}
.para2 {
  padding: 20px;
}
.para2 img {
  padding-left: 0px;
  width: 350px;
  height: 300px;
}
.container2 img {
  padding: 20px 30px;
  width: 350px;
  height: 200px;
}
.lifestyle1 h2 {
  padding: 0px 80px;
  border-bottom: 3px solid #000183;
  background-color: lightgreen;
  font-size: 15px;
}

.container3 p {
  padding: 50px;
  padding-right: 0px;
}
.container3 img {
  padding: 20px 30px;
  width: 350px;
  height: 300px;
}

.container4 img {
  padding: 20px 30px;
  width: 350px;
  height: 200px;
}

.img1 {
  padding: 20px 30px;
  width: 350px;
  height: 200px;
}
.img2 {
  padding: 20px 30px;
  width: 350px;
  height: 200px;
}
.lifestyle1 p {
  padding: 20px 80px;
}
.footer {
  height: 15vh;
  background-color: #000183;
}
.inner-footer {
  margin: 0;
  padding: 0;
}
.fa {
  padding: 0px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 40px 5px;
  position: relative;
  top: 25px;
  left: 100px;
}

.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}
.outer-footer {
  padding: 10px;
  text-align: center;
  font-size: 18px;
  background-color: cornflowerblue;
}
/*ipad (held vertically)*/
@media only screen and (min-width: 768px) {
  .navbar {
    width: 96%;
  }
  .para2 img {
    padding-left: 175px;
    width: 400px;
    height: 300px;
  }
  .container2 img {
    padding: 20px 170px;
    width: 400px;
    height: 250px;
  }
  .container3 {
    display: flex;
  }
  .container4 {
    display: flex;
  }
  .img1 {
    padding: 20px 200px;
    width: 350px;
    height: 200px;
  }
  .img2 {
    padding: 20px 200px;
    width: 350px;
    height: 200px;
  }
  .fa {
    padding: 20px;
    margin: 8px 5px;
    position: relative;
    top: 5px;
    left: 185px;
  }
}
/*ipad (held horizontally)*/
@media only screen and (min-width: 1024px) {
  .para2 img {
    padding-left: 260px;
  }
  .fa {
    left: 300px;
  }
  .container2 img {
    padding: 20px 280px;
  }
  .container5 {
    display: flex;
  }
  .img1 {
    padding: 20px 90px;
  }
  .img2 {
    padding: 20px 200px;
    padding-left: 40px;
  }
}
/*Laptop (HP 250 g7)*/
@media only screen and (min-width: 1366px) {
  .navbar {
    width: 97%;
  }
  ul li {
    float: left;
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
  }
  .lifestyle h1 {
    font-size: 50px;
  }
  .lifestyle h2 {
    font-size: 20px;
  }
  .gallery {
    margin: 5px;
    border: 1px solid gold;
    float: left;
    width: 600px;
  }
  .container img {
    width: 600px;
    height: 400px;
  }
  .fashion img {
    width: 866px;
    height: 577px;
    padding: 20px 5px;
  }
  .para2 {
    padding: 20px 250px;
  }
  .container2 {
    display: flex;
  }
  .container2 img {
    width: 500px;
    height: 300px;
  }
  .container2 img {
    padding: 20px 80px;
  }
  .container3 p {
    padding: 50px;
    padding-right: 0px;
  }
  .container3 img {
    padding: 25px;
    padding-left: 5px;
    padding-right: 80px;
    width: 600px;
    height: 400px;
  }
  .container4 img {
    width: 600px;
    height: 400px;
  }
  .img1 {
    width: 500px;
    height: 300px;
    padding-left: 80px;
    padding-right: 10px;
  }
  .img2 {
    width: 500px;
    height: 300px;
  }
  .fa {
    left: 495px;
  }
}
